<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="CSS/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="CSS/Main.css" rel="stylesheet">
    <script src="JS/jquery-3.2.1.min.js"></script>
    <script src="JS/jquery.cookie.js"></script>
    <script src="JS/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="JS/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="JS/ie10-viewport-bug-workaround.js"></script>
</head>

<body>
    <div id="app" class="container wapper">
        <div id="errmsg">
            <transition name="slide-fade">
                <div v-if="errShow" v-cloak class='alert alert-warning'><a href='#' class='close' @click='errShow=!errShow'>&times;</a><strong>警告！</strong>{{errContent}}</div>
            </transition>
        </div>
        <form class="form-signin">
            <h2 class="form-signin-heading">登 录</h2>
            <label for="inputUserName" class="sr-only">用户名</label>
            <input type="text" v-model="uname" class="form-control" placeholder="用户名" required autofocus>
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" v-model="upwd" class="form-control" placeholder="密码" required>
            <div class="checkbox">
                <label>
            <input type="checkbox" value="remember-me" id="ckbRm"> 记住帐号
          </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="button" @click="login">登 录</button>
            <button class="btn btn-lg btn-info btn-block" type="button" @click="gotoReg">注 册</button>
        </form>
    </div>
    <script src='http://vuejs.org/js/vue.js'></script>
    <script src='http://cdn.bootcss.com/reqwest/2.0.5/reqwest.min.js'></script>
    <script src="JS/app.js"></script>
</body>

</html>