<div class="g-full f-mt10 f-fl">

	<div class="g-main f-fl">
		<div class="m-box f-mb10">
			<div class="title">文档内容</div>
			<div class="content m-article">
				<h3>$article[subject]</h3>
				<span class="artinfo">
					<span>发布人：<a href="profile?uid=$article[authorid]" target="_blank">$article[author]</a></span> &nbsp;&nbsp;&nbsp;
					<span>发布时间：<!--{echo get_date($article[timestamp])}--></span> &nbsp;&nbsp;&nbsp;
					<span>点击数：$article[hits]</span>
				</span>
				<span class="article_content">
					$article[content]
				</span>					
			</div>	
		</div>
	</div>

	<div class="g-side f-fr">
		<div class="m-box">
			<div class="title">栏目列表</div>
			<div class="content">
				<ul class="m-artclass">
					<li><a href="arthome.php">文档首页</a></li>
					<!--{loop $_artclass $classid $classname}-->
					<li><a href="artlist.php?classid=$classid">$classname</a></li>
					<!--{/loop}-->					
				</ul>				
			</div>			
		</div>		
	</div>
	
</div>