<!DOCTYPE html>
<html>

<head>
    <base href="$db_wwwurl/" />
    <meta http-equiv="Content-Type" content="text/html; charset=$db_charset" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--{if PHPFUNC=='showmsg'}-->
    <title>提示信息 - powered by PHPvod.com</title>
    <meta name="keywords" content="$db_keywords" />
    <meta name="description" content="$db_description" />
    <!--{elseif PHPSELF=='index'}-->
    <title>$db_wwwname - powered by PHPvod.com</title>
    <meta name="keywords" content="$db_keywords" />
    <meta name="description" content="$db_description" />
    <!--{elseif PHPSELF=='category'}-->
    <title>$_class[$cid][caption] - $db_wwwname - powered by PHPvod.com</title>
    <meta name="keywords" content="$db_keywords" />
    <meta name="description" content="$db_description" />
    <!--{elseif PHPSELF=='class'}-->
    <title>$_class[$cid][caption] - $db_wwwname - powered by PHPvod.com</title>
    <meta name="keywords" content="$db_keywords" />
    <meta name="description" content="$db_description" />
    <!--{elseif PHPSELF=='read'}-->
    <title>$video[subject] - $db_wwwname - powered by PHPvod.com</title>
    <meta name="keywords" content="<!--{eval echo str_replace(array('" ',"\' ",'&nbsp;'), '', strip_tags($video['subject']))}-->" />
    <meta name="description" content="<!--{eval echo pv_substr(str_replace(array('" ',"\' ","\n ",'&nbsp;',' ','　'), '', strip_tags($video['synopsis'])), 200, 1);}-->" />
    <!--{elseif PHPSELF=='play'}-->
    <title>$video[subject]({$urlcaption}) - $db_wwwname - powered by PHPvod.com</title>
    <meta name="keywords" content="$db_keywords" />
    <meta name="description" content="$db_description" />
    <!--{else}-->
    <!--{if PHPSELF == 'post'}-->
    <title>发布视频 - $db_wwwname - powered by PHPvod.com</title>
    <!--{elseif PHPSELF == 'faq'}-->
    <title>帮助 - $db_wwwname - powered by PHPvod.com</title>
    <!--{elseif PHPSELF == 'hack'}-->
    <title>$_hack[$hackname][name] - 插件 - $db_wwwname - powered by PHPvod.com</title>
    <!--{elseif PHPSELF == 'login'}-->
    <title>会员登录 - $db_wwwname - powered by PHPvod.com</title>
    <!--{elseif PHPSELF == 'message'}-->
    <title>短消息 - $db_wwwname - powered by PHPvod.com</title>
    <!--{elseif PHPSELF == 'notice'}-->
    <title>网站公告 - $db_wwwname - powered by PHPvod.com</title>
    <!--{elseif PHPSELF == 'profile'}-->
    <title>个人中心 - $db_wwwname - powered by PHPvod.com</title>
    <!--{elseif PHPSELF == 'register'}-->
    <title>会员注册 - $db_wwwname - powered by PHPvod.com</title>
    <!--{elseif PHPSELF == 'report'}-->
    <title>举报 - $db_wwwname - powered by PHPvod.com</title>
    <!--{elseif PHPSELF == 'search'}-->
    <!--{eval if(!empty($keyword)) $search_keyword = $keyword . ' - '; else $search_keyword = '';}-->
    <title>{$search_keyword}搜索 - $db_wwwname - powered by PHPvod.com</title>
    <!--{elseif PHPSELF == 'sendpwd'}-->
    <title>找回密码 - $db_wwwname - powered by PHPvod.com</title>
    <!--{else}-->
    <title>$db_wwwname</title>
    <!--{/if}-->
    <meta name="keywords" content="$db_keywords" />
    <meta name="description" content="$db_description" />
    <!--{/if}-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="$imgpath/$stylepath/phpvod.js"></script>
    <!-- CSS -->
    <!--{eval $usercss = getcookie('pv_usercss', false);}-->
    <!--{eval $csspath = !empty($usercss) ? $usercss : "$imgpath/$stylepath/default.css";}-->
    <link rel="stylesheet" type="text/css" id="csslink" href="$csspath" />
    <!-- LESS -->
    <!--
	<link rel="stylesheet/less" type="text/css" href="$imgpath/$stylepath/default.less" />
	<script type="text/javascript">var less = {env: "development"};</script>
	<script type="text/javascript" src="js/less/less-1.7.0.min.js"></script>
	<script type="text/javascript">less.watch();</script>
	-->
</head>

<body class="g-doc">
    <div class="g-hd">
        <!--{eval $adcode = ad('header');}-->
        <!--{if $adcode!=''}-->
        <div class="u-adheader f-m0a">$adcode</div>
        <!--{/if}-->
        <div class="m-header">
            <div class="top">
                <div class="style">
                    <!--{template 'panel_style'}-->
                </div>
                <div class="nav">
                    <!--{template 'panel_nav'}-->
                </div>
            </div>
            <div class="logobanner">
                <div class="logo">
                    <a href="$db_bfn"><img src="$imgpath/$stylepath/logo.gif" alt="$db_wwwname" /></a>
                </div>
                <div class="banner">
                    <!--{template 'panel_search'}-->
                </div>
            </div>
        </div>
        <!-- header end -->

        <!--{template 'panel_menu'}-->
    </div>

    <div class="g-bd">