<script type="text/javascript" src="js/score/score.js"></script>
<script type="text/javascript">
    $("#score_show").ready(function() {
        score_show($video[vid], $video[star]);
    });
</script>

<div class="m-navpath">当前位置: $navpath</div>
<!--{eval $adcode = ad('nav');}-->
<!--{if $adcode!=''}-->
<div class="u-adnav f-mt10">$adcode</div>
<!--{/if}-->

<div class="g-full f-mt10 f-fl">
    <div class="g-main f-fl">
        <div class="m-box">
            <div class="title">
                <span class="f-fr f-defaultcolor f-fs12">
					<a href="javascript:;" onclick='$.ajax({type:"POST",url:"ajax.php",data:"action=add_favorite&vid=$video[vid]", success:function(msg){alert(msg);}});'>收藏</a>
					&nbsp; <a href="report.php?vid=$vid">举报</a>
					<!--{if $editvideo=='1'}-->
					&nbsp; <a href="post.php?action=modify&vid=$video[vid]">编辑</a>
					<!--{/if}-->
					<!--{if $delvideo=='1'}-->
					&nbsp; <a href="post.php?action=del&vid=$video[vid]" onclick="return window.confirm('您确定要删除视频 $video[subject] 吗？');">删除</a>
					<!--{/if}-->					
				</span> 视频详细信息
            </div>
            <div class="content m-videodd">

                <div class="videopic"><img src="$video[picurl]" alt="$video[subject]" /></div>
                <div class="videoinfo">

                    <div id="score_show"></div>
                    <!-- 评分 -->
                    <h2>$video[subject]</h2>
                    <p class="line">$video[class_name] <span class="f-gray">(栏目)</span> &nbsp; $video[nation_name] <span class="f-gray">(地区)</span> &nbsp;
                        <!--{echo $video[serialise]>0 ? '连载至第'.$video[serialise].'集' : '完结'}--><span class="f-gray">(状态)</span> &nbsp; $video[author] <span class="f-gray">(会员)</span></p>
                    <p>演员: $video[playactor_link]</p>
                    <p>导演: $video[director_link]</p>
                    <p>标签: $video[tag_link]</p>
                    <p>年代: $video[year]</p>
                    <p>评分: $video[star] ($video[usernth]人参与评分)</p>
                    <p>人气: $video[hits]</p>
                    <p>发布时间:
                        <!--{echo get_date($video[postdate], 'Y-m-d H:i')}-->&nbsp; 更新时间:
                        <!--{echo get_date($video[lastdate], 'Y-m-d H:i')}-->
                    </p>
                    <p>备注: $video[memo]</p>
                </div>

                <div class="videointro">
                    <div class="caption">视频简介</div>
                    <div class="content">$video[synopsis]</div>
                </div>

                <!--{loop $urldb $playgroup $msg}-->
                <div class="videourls">
                    <div class="caption"><span class="f-fr">$msg[player]</span>播放组{$msg[playgroup]}</div>
                    <div class="content">
                        <!--{loop $msg[urls] $key $v}-->
                        <a href="play.php?vid=$video[vid]&playgroup=$msg[playgroup]&index=$key" target="_blank" title="{$v[caption]}">$v[caption]</a>
                        <!--{/loop}-->
                        <div class="f-cb"></div>
                    </div>
                </div>
                <!--{/loop}-->

                <!--{if $db_reply=='1'}-->
                <!--{template 'panel_reply'}-->
                <!--{/if}-->

            </div>
        </div>
    </div>
    <div class="g-side f-fr">
        <div class="m-box">
            <div class="title">栏目排行 </div>
            <div class="content">
                <ul class="m-list2-1">
                    <!--{eval $i=1;}-->
                    <!--{loop:video:$video cid=$video[cid]|showsub=1|order=hits DESC|limit=10}-->
                    <!--{if $i==1}-->
                    <li class="l1">
                        <a class="imgbg1" href="read.php?vid=$video[vid]" title="$video[subject]"><img src="$video[picurl]" alt="$video[subject]" /><span class="num1">1</span></a>
                        <p class="subject"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></p>
                        <p>类别: $video[class_name]</p>
                        <p>地区: $video[nation_name]</p>
                        <p>热度: $video[hits]</p>
                        <p>更新日期:
                            <!--{echo get_date($video[lastdate], 'Y-m-d H:i')}-->
                        </p>
                    </li>
                    <!--{else}-->
                    <li>
                        <span class="f-fr">$video[hits]</span>
                        <i>$i</i>
                        <span class="sj"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></span>
                    </li>
                    <!--{/if}-->
                    <!--{eval $i++;}-->
                    <!--{/loop:video}-->
                </ul>
            </div>
        </div>

        <!--{$videodb=loop:video cid=$video[cid]|best=2|showsub=1|order=lastdate DESC,postdate DESC|limit=3}-->
        <!--{if !empty($videodb)}-->
        <div class="m-box f-mt10">
            <div class="title">栏目推荐</div>
            <div class="content">
                <ul class="m-list2-1">
                    <!--{loop $videodb $key $video}-->
                    <li class="l1<!--{if $key>0}--> f-mt10<!--{/if}-->">
                        <a class="imgbg1" href="read.php?vid=$video[vid]" title="$video[subject]"><img src="$video[picurl]" alt="$video[subject]" /></a>
                        <p class="subject"><a href="read.php?vid=$video[vid]" title="$video[subject]">$video[subject]</a></p>
                        <p>类别: $video[class_name]</p>
                        <p>地区: $video[nation_name]</p>
                        <p>热度: $video[hits]</p>
                        <p>更新日期:
                            <!--{echo get_date($video[lastdate], 'Y-m-d H:i')}-->
                        </p>
                    </li>
                    <!--{/loop}-->
                </ul>
            </div>
        </div>
        <!--{/if}-->
    </div>
</div>