<!--{if $groupid=='guest'}-->
<ul class="dropdown-menu">
    <li>
        <a href="register.php">注册</a>
    </li>
    <li>
        <a href="login.php">登录</a>
    </li>
</ul>
<!--{else}-->
<ul class="dropdown-menu">
    <li>
        <a href="#">您好，{$username}！</a>
    </li>
    <li class="divider">
    </li>
    <!--{if $gp_allowpost=='1'}-->
    <li>
        <a href="post.php">发布视频</a>
    </li>
    <!--{/if}-->
    <!--{loop $hackdb[1] $h}-->
    <li>
        <a href="hack.php?hackname=$h[directory]">$h[name]</a>
    </li>
    <!--{/loop}-->
    <!--{if $SYSTEM[allowadmincp]=='1'}-->
    <li>
        <a href="admin.php" target="_blank">后台管理</a>
    </li>
    <!--{/if}-->
    <li>
        <a href="search.php">搜索</a>
    </li>
    <li>
        <a href="login.php?action=quit">[退出]</a>
    </li>

</ul>
<!--{/if}-->